<nav class="navbar navbar-expand-sm bg-black navbar-dark sticky-top mt-3">
    <div class="container">
        
            <ul class="navbar-nav">
              <li class="nav-item">
                <div class="navbar-brand ">
                <img src="/assets/images/logo.png" style="display: inline-block;width:60px;height:60px;text-align:left">
                <span style="display: outline-block;" > Diamonds Online Job Portal</span>
                </div>
              </li>
            </ul>
        </div>
    
    
</nav>


